Options -Indexes

Header append X-FRAME-OPTIONS "SAMEORIGIN"

<IfModule mod_headers.c>
Header set X-XSS-Protection "1; mode=block"
</IfModule>

ServerSignature Off

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
</IfModule>